<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Musica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link disabled">Privacy Policy</a>
            </div>
        </div>
    </div>
</nav>

<div class="about-container">
    <div class="contact-sub-cont">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 75%);">
            Contact Us
        </h1>
        
        <form method="post" action="/contact">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="userName" class="form-control" aria-describedby="emailHelp" autocomplete="off" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control" name="msg" placeholder="Leave a comment here" id="floatingTextarea" required></textarea>
                    <label for="floatingTextarea">Message</label>
                  </div>
            </div>
            
            <button type="submit" class="btn contact-sub-btn">Submit</button>
        </form>
	
    </div>
</div>



<%- include('partials/footer') %>