<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Musica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/dashboard">Dashboard</a>
                <a class="nav-link" href="/about">About</a>
            </div>
        </div>
    </div>
</nav>

<div class="about-container">
    <div class="col-lg-8 col-sm-12 thanks-sub-container">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            ThankYou!<br />
            <span style="color: hsl(218, 81%, 75%)">We have recieved your request and will respond soon</span>
        </h1>
        
        <footer>
            © Copyright 2022 Musica
        </footer>
	
    </div>
</div>



<%- include('partials/footer') %>